
body{
  background-color: #0000006c;
}
.App{
  width:100svw;
  height:30rem;
  background-color: #33b144;
  overflow-x: hidden;
  position: relative;
  margin-top: 3rem;
  .Slider{
    width:400vw;
    height:30rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    .slide{
      position: relative;
      width:100vw;
      height:100%;
      background-color: gray;
      img{
        position: absolute;
        width:100%;
        height:100%;
      }
    }
  }




  .btnContainer{
    width:7rem;
    height:3rem;
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Arrow{
      background-color: rgb(37, 37, 37);
      color:#ffffff;
      height:100%;
      width:3rem;
      font-size: medium;
      cursor: pointer;
      border-radius: 50%;
      &.disabled{
        opacity:0.5;
      }
    }
  }
}